body {
  font-family: "Lato", sans-serif;
  font-weight: 400; 
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 400;
    animation: moveInLeft 1s ease-out;

    @include respond(phone){
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.70rem;
    font-weight: 700;
    animation: moveInRight 1s ease-out;

    @include respond(phone){
      font-size: 1.8rem;
      letter-spacing: .7rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  transition: all .2s;
  @include gradient-text;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color: $color-black, $alpha: .2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
